<div class="relative overflow-x-auto shadow-md sm:rounded-lg border-emerald-900 border-2">
  <table class="w-full text-sm text-left rtl:text-right text-zinc-50 dark:text-gray-400 border-separate border-spacing-x-0">
    <thead class="text-xs uppercase bg-emerald-950/80 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-1 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Title
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Created By
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
        <th scope="col" class="px-6 py-3">
          Assigned Agent
        </th>
        <% if UserPolicy.new.is_admin? %>
          <th scope="col" class="px-6 py-3"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |data| %>
        <tr id="row-<%= data.id %>"
            class="bg-emerald-950 dark:bg-gray-800 dark:border-gray-700 hover:bg-emerald-900 dark:hover:bg-gray-600">
          
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-emerald-950 border-zinc-500 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
            </div>
          </td>

          <th scope="row" class="px-1 py-4 font-medium text-zinc-500 whitespace-nowrap dark:text-white hover:text-zinc-50">
            <%= link_to "##{data.id}", edit_workspace_ticket_path(data.id) %>
          </th>
          <td class="px-6 py-4"><%= data.title %></td>
          <td class="px-6 py-4"><%= data.description %></td>
          <td class="px-6 py-4"><%= data.requester.email_address %></td>
          <td class="px-6 py-4"><%= data.status.name %></td>
          <td class="px-6 py-4"><%= data.assigned_agent&.email_address || "Unassigned" %></td>

          <% if UserPolicy.new.is_admin? %>
            <td><%= button_to "Delete", workspace_ticket_path(data.id), method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <nav class="border-t-1 border-zinc-500 bg-emerald-950 flex items-center flex-column p-3 flex-wrap md:flex-row justify-between" aria-label="Table navigation">
    <div class="text-sm text-zinc-50">
      <%= page_entries_info @tickets, entry_name: 'ticket' %>
    </div>
    <ul class="inline-flex px-3 -space-x-px rtl:space-x-reverse">
      <%= paginate @tickets, :window => 1, :outer_window => 1 %>
    </ul>
  </nav>
</div>
