<h1><%= @ticket.id %></h1>

<%= render "form_ticket", ticket: @ticket %>

<h4>Comments</h4>
<%= turbo_frame_tag "comments" do %>
    <% @comments.each do |comment| %>
        <div>
            <%= comment.user&.email_address || "Unknown" %>: <%= comment.created_at %>: <%= comment.content %>
        </div>
    <% end %>
<% end %>

<%= render "form_comment", ticket: @ticket %>
<%= link_to "Cancel", workspace_tickets_path %>
<% if UserPolicy.new.is_admin? %>
    <td><%= button_to "Delete", workspace_ticket_path(@ticket.id), method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
<% end %>