<%= form_with model: ticket do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title, maxlength: 255, size: 60 %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description, maxlength: 9810, size: 90 %>
    </div>
    <div>
        <%= form.label :status %>
        <%= form.collection_select(:status_id, @statuses, :id, :name) %>
    </div>
    <% if action_name == 'edit' %>
    <div>
        <%= form.collection_select(:assigned_agent_id, User.where(role_id: Role.find_by(name: "Support Agent").id), :id, :email_address, include_blank: "Unassigned") %>
    </div>
    <% end %>
    <div>
        <%= form.submit %>
    </div>
<% end %>