<h1>Tickets</h1>

<div>Title: <%= @ticket.title %></div>
<div>Description: <%= @ticket.description %></div>
<div>Status: <%= @status %></div>
<div>Assigned Agent: <%= @ticket.assigned_agent&.email_address || "Unassigned" %>

<h4>Comments</h4>
<% @comments.each do |comment| %>
    <div>
        <%= comment.user&.email_address || "Unknown" %>: <%= comment.created_at %>: <%= comment.content %>
    </div>
<% end %>

<%= render "tickets/form_comment", ticket: @ticket if authenticated? %>

<%= link_to "Back", tickets_path %>

<% if authenticated? %>
    <%= link_to "Edit", edit_ticket_path(@ticket) %>
    <%= button_to "Delete", @ticket, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>