<%= form_with model: ticket, url: support_tickets_path, method: :post do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title, maxlength: 255, size: 60 %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_field :description, maxlength: 9810, size: 90 %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>