<div class="p-2 sm:p-6 md:px-12 space-y-8 relative overflow-x-auto shadow-md sm:rounded-lg border-emerald-900 border-2 max-w-3xl mx-auto w-full text-sm text-left rtl:text-right text-zinc-50 dark:text-gray-400 border-separate border-spacing-x-0 bg-emerald-950">
  <div class="space-y-4">
    <div class="flex justify-between items-center">
      <div class="text-lg font-bold">User Info</div>
      <div class="flex gap-2 mt-4">
          <%= link_to "Cancel", :back, class: "text-white border-gray-500 bg-zinc-900 border-2 hover:bg-gray-500 focus:ring-red-600 focus:border-red-600 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    </div>
    <%= form_with model: user,
                  url: user.persisted? ? admin_user_path(user) : admin_users_path,
                  method: user.persisted? ? :patch : :post do |form| %>
      <div class="space-y-4">
        <div class="space-y-2">
          <%= form.label :email_address, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :email_address) %>
          <% end %>
          <%= form.text_field :email_address, class: "border border-gray-300 text-zinc-50 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="space-y-2">
          <%= form.label :first_name, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :first_name) %>
          <% end %>
          <%= form.text_field :first_name, class: "border border-gray-300 text-zinc-50 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="space-y-2">
          <%= form.label :last_name, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :last_name) %>
          <% end %>
          <%= form.text_field :last_name, class: "border border-gray-300 text-zinc-50 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="space-y-2">
          <%= form.label :role_id, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :role_id) %>
          <% end %>
          <%= form.collection_select(:role_id, @roles, :id, :name,
                                    {},
                                    { class: "bg-emerald-950 border border-gray-300 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" }) %>

        </div>
        <div class="space-y-2">
          <%= form.label :password, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :password) %>
          <% end %>
          <%= form.text_field :password, type: "password", class: "border border-gray-300 text-zinc-50 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div class="space-y-2">
          <%= form.label :password_confirmation, class: "block text-sm font-semibold dark:text-white" do  %>
            <%= label_text_with_required(form, :password_confirmation) %>
          <% end %>
          <%= form.text_field :password_confirmation, type: "password", class: "border border-gray-300 text-zinc-50 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
      <%= form.submit class: "text-white border-indigo-900 border-2 bg-indigo-950 hover:bg-indigo-900 focus:ring-indigo-600 focus:border-indigo-600 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    <% end %>
  </div>
</div>