<div class="relative overflow-x-auto shadow-md sm:rounded-lg border-emerald-900 border-2">
  <table class="w-full text-sm text-left rtl:text-right text-zinc-50 dark:text-gray-400 border-separate border-spacing-x-0">
    <thead class="text-xs uppercase bg-emerald-950/80 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-3 py-3">
          ID
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
          Email Address
        </th>
        <th scope="col" class="px-6 py-3">
          Role
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |data| %>
        <tr id="row-<%= data.id %>"
            class="bg-emerald-950 dark:bg-gray-800 dark:border-gray-700 hover:bg-emerald-900 dark:hover:bg-gray-600">

          <th scope="row" class="px-3 py-4 font-medium text-zinc-500 whitespace-nowrap dark:text-white hover:text-zinc-50">
            <%= link_to "##{data.id}", edit_admin_user_path(data) %>
          </th>
          <td class="px-6 py-4"><%= data.first_name + " " + data.last_name %></td>
          <td class="px-6 py-4"><%= data.email_address %></td>
          <td class="px-6 py-4"><%= data.role.name %></td>
          <td><%= link_to "Edit", edit_admin_user_path(data) %>
          <td><%= button_to "Delete", admin_user_path(data), method: :delete, data: { turbo_confirm: "Are you sure?" } %></td>
          <td class="px-6 py-4">
            <% if !data.email_confirmed? %>
              <%= button_to "Resend Activation Email", resend_activation_email_admin_user_path(data), method: :post %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <nav class="border-t-1 border-zinc-500 bg-emerald-950 flex items-center flex-column p-3 flex-wrap md:flex-row justify-between" aria-label="Table navigation">
    <div class="text-sm text-zinc-50">
      <%= page_entries_info @users, entry_name: 'user' %>
    </div>
    <ul class="inline-flex px-3 -space-x-px rtl:space-x-reverse">
      <%= paginate @users, :window => 1, :outer_window => 1 %>
    </ul>
  </nav>
</div>